
body {
  background-color: black;
  background-image: url("background.jpg");
}

#board {
  width: 900px;
  left: 50%;
  margin-top: -200px;
  margin-left: -480px;
  position: absolute;
  top: 50%;
  height: 500px;
  background-color: black;
  border: 5px solid;
  border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
  }
 

.snake, #apple {
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: green;
}

#snake-head {
  background-color: darkgreen;
}

#apple {
  background-color: red;
}

#score {
  text-align: center;
  font-size: 2vw;
  font-family: 'Press Start 2P', cursive;
  color: white;
  position: absolute;
  left: 100px;
  top: 50%;
}


